$color-purp: #9e13e0;
$color-text: #0c090e;
$color-border-field: rgb(158 19 224 / 30%);
$color-yellow: #fee97d;
$color-white: #fff;
$color-overlay-scrim: rgb(12 9 14 / 50%);
$color-error: #b00020;

$z-index-feedback-overlay: 1000;

$feedback-dialog-max-width-mobile: 361px;
$feedback-dialog-max-width-desktop: 558px;
$feedback-dialog-height-desktop: 387px;
$feedback-dialog-min-height-mobile: 500px;
