// Fonts
$font-primary: 'HalvarBreit', sans-serif;
$font-secondary: 'Stolzl', sans-serif;

// Colors (ButtonMain)
$color-yellow: #fee97d;
$color-dark: #0c090e;

// Transitions (ButtonMain)
$transition-base: 0.3s ease;
